@import '../../theme.scss';

@keyframes mobile-menu-frames {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.mobile-menu-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.mobile-menu-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--popup-container-background);
    pointer-events: auto;
    user-select: auto;
    backdrop-filter: var(--popup-container-backdrop);
}

.mobile-menu {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    bottom: 0;
    max-height: calc(100% - #{$spacing4});
    background-color: $card;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    animation: mobile-menu-frames 0.3s forwards ease-out;
    padding: 24px;

    > .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        > .empty {
            width: 24px;
            height: 24px;
        }
    }

    > .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--c-txt-2);
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: $spacing3 $spacing4;
        text-decoration: none;

        &:hover {
            color: var(--c-txt);
        }

        &.active {
            color: var(--c-primary);
            text-shadow: var(--t-shadow-1);
        }
    }

    > .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    }
}
