@import '../../theme.scss';

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;

    &.lg {
        max-width: $siteWidth;
    }

    &.pg {
        max-width: calc(#{$siteWidth} * 3 / 4);
    }

    &.md {
        max-width: calc(#{$siteWidth} * 2 / 3);
    }

    &.sm {
        max-width: calc(#{$siteWidth} / 2);
    }
}

