@import '../../theme.scss';

.account-modal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 50px 45px;

    @media (max-width: $mobileWidth) {
        flex: 1;
        overflow: auto;
        padding: 24px;
        width: 100%;
    }

    > .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        padding: 0 0 0 $spacing1;

        > .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            color: $grey400;
        }
    }

    > .account {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $grey200;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: $spacing4;

        > .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: $spacing2;

            > img, .identicon-wrapper {
                width: 32px;
                height: 32px;
            }
        }
    }

    > .transactions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $grey200;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: $spacing4;

        > .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: $grey500;
            font-size: 14px;
            font-weight: 700;
            text-align: center;

            > .clear-all {
                color: $grey200;
                font-size: 14px;
                font-weight: 700;
                margin-left: $spacing1;
            }
        }
    }

    > .actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: $spacing4 0 0;

        > :not(:first-child) {
            margin-left: 10px;
        }
    }
}

.transaction-list-item-wrapper {
    width: 100%;
    margin-top: $spacing3;
    max-height: 200px;
    overflow-y: auto;

    @media (max-width: $mobileWidth) {
        max-height: 100px;
    }
}

.transaction-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none !important;
    padding: $spacing1 $spacing1;
    font-weight: 500;
    font-size: 14px;
    color: $white;
}

.pending-loader {
    -webkit-animation: 2.5s linear infinite loaderRotate;
    -moz-animation: 2.5s linear infinite loaderRotate;
    animation: 2.5s linear infinite loaderRotate;
}

@-webkit-keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
