@import "./main.css";
@import "./theme.scss";
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Yellowtail);

html {
  background-color: $base;
}

body {
  margin: 0;
  font-family: 'Orbitron';
  font-size: 16px;
  color: $grey500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

div, span, input {
  box-sizing: border-box;
}

.app-twitter-embed {
  display: block;
  position: fixed;
  right: $spacing3;
  bottom: $spacing2;

@media (max-width: calc(#{$mobileWidth} + 400px)) {
  display: none;
}
}

.app-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-position: 0 30vh;
  background-repeat: no-repeat;
  //background-image: url(assets/background/bg-all.jpg);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clickable {
  cursor: pointer;
}

.suspense {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
